PORT=3001

# Mode Autentikasi: 'sso' (Single Sign-On terpusat) | 'standalone' (Login mandiri via API lokal)
NUXT_PUBLIC_AUTH_MODE=sso

# Base URL API Backend
NUXT_PUBLIC_API_BASE=http://localhost:8453

# Konfigurasi SSO (Digunakan saat NUXT_PUBLIC_AUTH_MODE=sso)
NUXT_PUBLIC_SSO_LOGIN_URL=http://localhost:3000
NUXT_PUBLIC_APP_URL=http://localhost:3001