@import "tailwindcss";
/* @plugin "daisyui"; */

@plugin "daisyui" {
    themes: light --default, night --prefersdark;
}

@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));

@font-face {
    font-family: "GoogleSans";
    src: url("@/assets/font/GoogleSans.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@theme {
    /* Daftarkan ke tema Tailwind v4 */
    --font-custom: "GoogleSans", sans-serif;
}

@layer base {

    html,
    body {
        font-family: var(--font-custom);
    }
}